.header {
    font-size: 66px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    position: relative;
    margin-top: 60px;
}

.penicon{
    height: 200px;
    width: 200px;
}